<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>


<div data-role="page" data-dialog="true" id="page3">
  <div data-role="header" data-theme="a">
    <h1>Enter Password</h1>
  </div>

  <div data-role="main" class="ui-content">
					<form action="/bebetter/history/" method="post">
                        {% csrf_token %}

						<div data-role="fieldcontain">
							<input type="password" name="passwd1" id="passwd1">
						</div> 
						<br/>
						<br/>
						<input type="submit" value="Signin">
					</form>
  </div>


</div> 

</body>
</html>
